h1{
  display: flex;
  justify-content: center;
  align-items: center;


}
body{
  height: 100%;
}
div{

}
.kastikesed{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  background-color: rgba(255,255,240,0.2);
  border-radius: 8px;
  color:aliceblue;
  margin:10px;
  position: relative;
}
.main_konteiner {
  margin: 10px;
  background-color:rgba(255, 255, 240, 0.76);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 190px 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 60px;
  box-sizing: border-box;
  column-gap: 50px;
}
.konteiner {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  padding: 50px;
}
.konteiner div {
  padding: 10px;
  border: 2px solid rgb(82, 74, 74);
  border-radius: 10px;
  margin: 5%;
  text-align: center;
  height: 70px;
  max-width: 400px;
  background-color: ivory;
}
.retsepi_float { 
  background-color:rgb(82, 74, 74);
  font-size: 10px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  border-radius: 10px;
  width: 350px;
  color: ivory;
  margin-top: 100px;
  margin-left: 25px;
  grid-row-start: auto;
  grid-row-end: span 2;
  max-height: 600px;
}
.tava_tekst {
  padding: 5px;
  font-size: 20px;
  color: ivory;
}
.tekst_box_1 {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  grid-column-end: span 2;
  color: rgb(82, 74, 74);
}
.väike_pealkiri {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:rgb(136, 57, 57);
}
html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  color: ivory
}
.parallax{
  background-image: url("background.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
img{
  margin: 10px;
  margin-top: 12px;
  border-radius: 5px;
  object-fit: cover;
  max-height: 300px;
  max-width: auto;
}
.outer{
  position: relative;
}
.Retseptipealkiri{
    position: absolute; top: 10px;
    font-size: 45px;
}
